.footer {
  margin-bottom:3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 575.98px) {
    flex-direction: column;
    height: 200px;
    margin: 1rem 0;
  }
  &__copyrightText {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    @media (max-width: 575.98px) {
      font-size: 14px;
      line-height: 20px;
    }
  }
  &__socialsBlock {
    display: flex;
  }
  &__socialIcon {
    margin-left: 5px;
  }
}
