.section {
  &__heading {
    font-size: 2.8125rem;
    font-size: 46px;
    line-height: 56px;
    font-weight: 600;
    margin-bottom: 1.2rem;
    @media (max-width: 575.98px) {
      font-size: 30px;
      font-weight: 700;
      line-height: 38px;
    }
  }
  &__subHeading {
    font-size: 1.375rem;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: $light-white;
    max-width: 700px;
    margin: 0 auto;
    @media (max-width: 575.98px) {
      font-size: 12px;
      line-height: 24px;
    }
  }

  &__searchPlatform {
    @media (max-width: 575.98px) {
      height: auto;
      padding: 67px 0;
    }
    height: 440px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    padding-top: 80px;
    &:after {
      @media (max-width: 575.98px) {
        display: none;
      }
      content: '';
      position: absolute;
      background-image: url('../svg/decoration_ellipse.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 563px;
      height: 313px;
      left: 0;
      bottom: 0;
    }
  }
  &__alphabetFilterPlatform {
    padding: 100px 0;
    background: $light-gray;
  }
  &__contactUs {
    @extend .bg--gradient--seasideWaves;
    padding: 50px 0;
  }
  &__siteMap {
    padding: 85px 0;
    @media (max-width: 575.98px) {
      padding: 25px 0;
      display: none;
    }
    &--mobile {
      display: none;
      margin-top: 1rem;
      @media (max-width: 575.98px) {
        display: block;
      }
    }
  }
}
