$light-white: #E2FDFF;
$light-gray: #E5E5E5;
$glossy-blue: #00AEEF;
$seaside-waves: #5DC2E1;
$tropical-shades: #77B747;
$deep-blue: #182353;
$matte-deep-blue: #6B7496;

.bg {
  &--white {
    background: #FFF;
  }
  &--light-white {
    background: $light-white;
  }
  &--light-gray {
    background: $light-gray;
  }
  &--deep-blue {
    background: $deep-blue;
  }
  &--matte-deep-blue {
    background: $matte-deep-blue;
  }
  &--glossyBlue {
    background: $glossy-blue;
  }
  &--seasideWaves {
    background: $seaside-waves;
  }
  &--tropicalShades {
    background: $tropical-shades;
  }
  &--gradient--seasideWaves {
    background-color: $seaside-waves;
    background: linear-gradient(116.3deg, #5DC2E1 15.03%, #0596C4 66.45%);
  }
  &--gradient--tropicalShades {
    background-color: $tropical-shades;
    background: linear-gradient(146.34deg, #77B747 2.44%, #70BF35 56.41%, #77B747 100%);
  }
}
.text {
  &--lightWhite {
    color: $light-white;
  }
  &--lightGray {
    color: $light-gray;
  }
  &--deep-blue {
    color: $deep-blue;
  }
  &--matte-deep-blue {
    color: $matte-deep-blue;
  }
}
